body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
    color: white;
    text-align: center;
}


header {
    padding: 20px;
}

button {
    background-color: white;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}


.boton-cv {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.boton-cv:hover {
    background-color: #ddd;
}


